- var page = {}
- var hostname = "" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Pushka.school",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png"
        },
        nav: {
          links: [
            {
              href: "/link1",
              displayName: "Link 1"
            },

            {
              href: "/link2",
              displayName: "Link 2"
            }
          ]
        },
        navRight: {
          links: [
            {
              href: "/link3",
              displayName: "Link 3"
            },

            {
              href: "/link4",
              displayName: "Link 4"
            },
          ]
        }
      }, //- site
      index: {
        hostname: "index.html",
        title: "PUSHKA.SCHOOL — школа коворкинг и креативное пространство для представителей индустрии моды. обучайтесь и творите в окружении профессионалов",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "PUSHKA.SCHOOL — школа коворкинг и креативное пространство для представителей индустрии моды. обучайтесь и творите в окружении профессионалов",
            siteName: "PUSHKA.SCHOOL",
            description: "Школа коворкинг и креативное пространство для представителей индустрии моды. обучайтесь и творите в окружении профессионалов",
            type: "website",
            locale: "ru_RU",
            image: "og.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "PUSHKA.SCHOOL",
            title: "PUSHKA.SCHOOL — школа коворкинг и креативное пространство для представителей индустрии моды. обучайтесь и творите в окружении профессионалов",
            description: "Школа коворкинг и креативное пространство для представителей индустрии моды. обучайтесь и творите в окружении профессионалов",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        nav: {
          text: "Официальное представительство компании Pemsan в Украине",
          logo: {
            href: "",
            img: {
              link: "logo.png",
              alt: "Логотип"
            }
          }
        },
        purpose: {
          heading: "Наша цель — создать в Украине сильный фешн-рынок"
        },
        event: {
          heading: "Мероприятия",
          subheading: "Мы регулярно проводим бесплатные воркшопы и мастер-классы. На них специалисты-практики поделятся с вами собственным опытом и секретами",
          tabs: {
            tabControl: [
              {
                name: "Будущие",
                href: ""
              },
              {
                name: "Прошедшие",
                href: ""
              }
            ],
            tabPanel: [
              {
                target: "#modal1",
                img: {
                  src: "img/event1.png",
                  alt: "logo"
                },
                name: "мастер-класс «трикотаж»",
                text: "Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.",
                detail: {
                  person: "спикер — Наталия Бойгун",
                  date: "когда — 15 июня в 17:00"
                },
                btn: {
                  name: "Записаться",
                  delimeter: "—"
                }
              },
              {
                target: "#modal2",
                img: {
                  src: "img/event2.png",
                  alt: "logo"
                },                
                name: "мастер-класс «шитье»",
                text: "Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.",
                detail: {
                  person: "спикер — Наталия Бойгун",
                  date: "когда — 15 июня в 17:00"
                },
                btn: {
                  name: "Записаться",
                  delimeter: "—"
                }
              },
              {
                target: "#modal3",
                img: {
                  src: "img/event3.png",
                  alt: "logo"
                },
                name: "мастер-класс «трикотаж»", //- Привет верстальщику
                text: "Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.",
                detail: {
                  person: "спикер — Наталия Бойгун",
                  date: "когда — 15 июня в 17:00"
                },
                btn: {
                  name: "Записаться",
                  delimeter: "—"
                }
              }
            ]
          },
        },
        tagline: {
          heading: "Тут Вы встретите новых партнеров, единомышленников и будущих работодателей.",
          btn: "Подробнее"
        },
        courses: {
          heading: "Курсы пушка",
          subheading: "Школа PUSHKA дает современное образование в мире моды и заинтересована в высоких результатах своих студентов. Для обучения мы привлекаем самых лучших специалистов-практиков, среди которых немало работодателей. Поэтому лучшие студенты начинают зарабатывать уже в процессе учебы.",
          name1: "Базовый курс",
          name2: "Курс для конструкторов и дизайнеров",
          details: {
            detail1: "СРОКИ — 2 дня",
            detail2: "спикер — Наталия Бойгун",
            detail3: "Старт — 15 июня в 17:00 ",
            detail4: "Стоимость — 600 грн",
            detail5: "СРОКИ — 2 дня",
            detail6: "спикер — Наталия Бойгун",
            detail7: "Старт — 15 июня в 17:00 ",
            detail8: "Стоимость — 600 грн"
          }
        },
        coworking: {
          heading: "Коворкинг PUSHKA",
          subheading: "Креативное и рабочее пространство для представителей мира моды, где Вы встретите множество единомышленников. Тут царит атмосфера творчества и созидания.",
          slider: {
            text1: "Креативное и рабочее пространство для представителей мира моды, где Вы встретите множество единомышленников.Тут царит атмосфера творчества и созидания.",
            text2: "В PUSHKA светлые комнаты, скоростной WI-FI, лаунж-зона, комфортная кухня с безлимитными кофе и чаем. В пешей доступности несколько магазинов ткани и фурнитуры.",
            text3: "Творчество не терпит расписания, поэтому коворкинг работает круглосуточно и без выходных. Приехать можно даже посреди ночи — нужно лишь предварительно позвонить.",
            text4: "Коворкинг находится в центре города, на Пушкинской, 14. Место выбрано неслучайно — оно исторически связано с модой. В советские времена на соседней улице располагался киевский Дом мод."
          }
        },
        service: {
          heading: "Услуги <br> конструкторского бюро",
          subheading: "Креативное и рабочее пространство для представителей мира моды, где Вы встретите множество единомышленников. Тут царит атмосфера творчества и созидания.",
          info: {
            text1: "Разрабатываем лекала любой сложности",
            text2: "Делаем градацию и оцифровку лекал",
            text3: "Изготавливаем опытные образцы"
          },
          about: {
            text1: "Ты можешь принести любое изделие, или выслать фотографии/технические эскизы, а команда квалифицированных мастеров оперативно изготовит лекала и градацию, после чего можно сразу запускать изделие в производство."
          }
        },
        comment: {
          heading: "Отзывы о PUSHKA SCHOOL",
          slides: {
            author: "Анжелика Дементиевская",
            info: "Прошла <span class=\"comment__info--span\">базовый курс</span>",
            text: "Школа PUSHKA дает современное образование в мире моды и заинтересована в высоких результатах своих студентов. Для обучения мы привлекаем самых лучших специалистов-практиков, среди которых немало работодателей. Поэтому лучшие студенты начинают зарабатывать уже в процессе учебы."
          }
        },
        contact: {
          heading: "Контакты",
          number1: {
            href: "tel:380955153355",
            text: "+38 095 515 33 55"
          },
          number2: {
            href: "tel:380979753355",
            text: "+38 097 975 33 55"
          },
          mail: {
            href: "mailto:infopushkaplace@gmail.com",
            text: "infopushkaplace@gmail.com"
          },
          address: "Киев, улица Пушкинськая, 14",
          socials: {
            link1: {
              href: "",
              text: "FACEBOOK"
            },
            link2: {
              href: "",
              text: "INSTAGRAM"
            },
            link3: {
              href: "",
              text: "TUMBLR"
            },
            link4: {
              href: "",
              text: "PINTEREST"
            }
          }
        },
        partners: {
          heading: "Наши партнеры",
          subheading: "Школа PUSHKA дает современное образование в мире моды и заинтересована в высоких результатах своих студентов. Для обучения мы привлекаем самых лучших специалистов-практиков, среди которых немало работодателей. Поэтому лучшие студенты начинают зарабатывать уже в процессе учебы.",
          items: [
            {
              img: {
                src: "img/partner1.png",
                alt: "Партнер"
              }
            },  
            {
              img: {
                src: "img/partner1.png",
                alt: "Партнер"
              }
            },
            {
              img: {
                src: "img/partner1.png",
                alt: "Партнер"
              }
            },
            {
              img: {
                src: "img/partner1.png",
                alt: "Партнер"
              }
            },
            {
              img: {
                src: "img/partner1.png",
                alt: "Партнер"
              }
            },
            {
              img: {
                src: "img/partner1.png",
                alt: "Партнер"
              }
            },
            {
              img: {
                src: "img/partner1.png",
                alt: "Партнер"
              }
            },
            {
              img: {
                src: "img/partner1.png",
                alt: "Партнер"
              }
            },
            {
              img: {
                src: "img/partner1.png",
                alt: "Партнер"
              }
            },
            {
              img: {
                src: "img/partner1.png",
                alt: "Партнер"
              }
            },
            {
              img: {
                src: "img/partner1.png",
                alt: "Партнер"
              }
            },
            {
              img: {
                src: "img/partner1.png",
                alt: "Партнер"
              }
            }
          ]
        },
        footer: {
          copy: "&copy; 2017 PUSHKA SCHOOL"
        }
      }, //- index
      course: {
        hostname: "index.html",
        title: "PUSHKA.SCHOOL — школа коворкинг и креативное пространство для представителей индустрии моды. обучайтесь и творите в окружении профессионалов",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "PUSHKA.SCHOOL — школа коворкинг и креативное пространство для представителей индустрии моды. обучайтесь и творите в окружении профессионалов",
            siteName: "PUSHKA.SCHOOL",
            description: "Школа коворкинг и креативное пространство для представителей индустрии моды. обучайтесь и творите в окружении профессионалов",
            type: "website",
            locale: "ru_RU",
            image: "og.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "PUSHKA.SCHOOL",
            title: "PUSHKA.SCHOOL — школа коворкинг и креативное пространство для представителей индустрии моды. обучайтесь и творите в окружении профессионалов",
            description: "Школа коворкинг и креативное пространство для представителей индустрии моды. обучайтесь и творите в окружении профессионалов",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        nav: {
          text: "Официальное представительство компании Pemsan в Украине",
          logo: {
            href: "",
            img: {
              link: "logo.png",
              alt: "Логотип"
            }
          }
        },
        intro: {
          heading: "Костюм<br><span class=\"intro__heading--white\">как</span> скульптура",
          buttons: {
            btn1: "Записаться",
            btn2: "Подробнее"
          },
          tabs: {
            heading1: "Описание курса",
            text1: "Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в боль."
          }
        }
      }, //- index
    }