.intro
  .intro__image  
    .intro__dress
    img.img-responsive.intro__img.hidden-lg(src='img/dress.png')
    .intro__line.intro__line--1.hidden-xs  
      img(src='img/line.svg' alt='logo')
    .intro__line.intro__line--2.hidden-xs  
      img(src='img/line.svg' alt='logo')
    .intro__line.intro__line--3.hidden-xs  
      img(src='img/line.svg' alt='logo')
  .intro__bg  
  .container
    .row
      .col-xs-12.col-sm-6.col-md-5
        .logo
          a.logo__image(href="#")
            img.img-responsive.logo__img(src='img/logo/logo.svg' alt='logo')
          .logo__text школа коворкинг и креативное пространство 
            span.logo__text--white для представителей индустрии моды. Обучайтесь и творите в окружении профессионалов  