.tagline
  .container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1.col-lg-8.col-lg-offset-2
        .heading.tagline__heading!=content.index.tagline.heading
        a.button.tagline__btn(href="#")
          .button__text!=content.index.tagline.btn  
            span.button__bord —