extends base/_layout.pug
block variables

block styles

block scripts

block content
  include partials/_header.pug
  include partials/_introCourse.pug
  include partials/_descr.pug
  include partials/_entry.pug
  include partials/_contactCourse.pug
  include partials/_footer.pug
block modal
  include partials/_modal.pug
